{{ define "main" }}
    <div class="home-content">
        <div class="home-links">
            <h4>
            {{ if .Site.Params.email }}
                <a class="no-underline" href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a> 
            {{ end }}
            <br/>
            {{ if .Site.Params.github }}
                <a href="{{ .Site.Params.github }}">GH</a>
            {{ end }}
            <span>/</span>
            {{ if .Site.Params.linkedin }}
                <a href="{{ .Site.Params.linkedin }}">LI</a>
            {{ end }}
            </h4>
        </div>
    </div>
{{ end }}
