{{ define "main" }}
<div class="home-content">
    <div class="home-links">
        <p>Feel free to reach out.</p>
        <hr/>
        <h5>
        {{ if .Site.Params.email }}
            <a class="no-underline" href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a> 
        {{ end }}
        <br/>
        {{ if .Site.Params.github }}
            <a href="{{ .Site.Params.github }}">GitHub</a>
        {{ end }}
        <span>|</span>
        {{ if .Site.Params.linkedin }}
            <a href="{{ .Site.Params.linkedin }}">LinkedIn</a>
        {{ end }}
        </h5>
    </div>
</div>
{{ end }}
