{{ define "main" }}
<h1 class="visually-hidden">About & Contact - {{ .Site.Params.author }}</h1>
<div class="about-page" itemscope itemtype="https://schema.org/Person">
    <meta itemprop="name" content="{{ .Site.Params.author }}" />
    <div class="about-links">
        <div class="contact-links">
        {{ if .Site.Params.email }}
            <a class="no-underline" href="mailto:{{ .Site.Params.email }}" itemprop="email">{{ .Site.Params.email }}</a> 
        {{ end }}
        <br/>
        {{ if .Site.Params.github }}
            [<a href="{{ .Site.Params.github }}" rel="noopener me" aria-label="GitHub Profile" itemprop="sameAs">github</a>]
        {{ end }}
        {{ if .Site.Params.linkedin }}
            [<a href="{{ .Site.Params.linkedin }}" rel="noopener me" aria-label="LinkedIn Profile" itemprop="sameAs">linkedin</a>]
        {{ end }}
        {{ if .Site.Params.resume }}
            [<a href="{{ .Site.Params.resume }}" rel="noopener me" aria-label="Resume" itemprop="sameAs">resume</a>]
        {{ end }}
        </div>
    </div>
    <div class="about-content">
        {{ if .Site.Params.photo }}
        <div class="about-photo">
            <img src="{{ .Site.Params.photo }}" alt="{{ .Site.Params.author }} - Profile Photo" itemprop="image" />
        </div>
        {{ end }}
        <div itemprop="description">
            <p>
                I'm an engineer who enjoys researching weird topics and hacking things together.
                This blog was created to have my findings accumulated and archived in a single place, as I tend to forget what I worked on in the past.
                My primary interests lie in low-level programming, operating systems, and networking.
                Back in the day I used to be into FPGAs.
            </p>
            <p>
                Outside of work I occupy myself with working on personal <strike>cyber</strike>security - by which I mean hitting the gym, and growing big and heavy.
            </p>
            <p>
                Hope you find something useful here.
                Feel free to reach out via email or connect on LinkedIn.
            </p>
            <p style="text-align: right;">
                Cheers,<br/>
                Dawid
            </p>
        </div>
    </div>
</div>
{{ end }}
