<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}index.xml" title="{{ .Site.Title }}">

    {{ partial "head/css.html" . }}
    {{ partial "head/js.html" . }}
</head>
<body>
    <header>
        <h1 class="site-title">
            <a class="no-underline" href="/">{{ .Site.Title }}</a>
        </h1>
        <nav>
            {{ range .Site.Menus.main }}
                <a href="{{ .URL }}">{{ .Name }}</a>
                {{ if not (eq (index $.Site.Menus.main (sub (len $.Site.Menus.main) 1)).Name .Name) }}<span>/</span>{{ end }}
            {{ end }}
        </nav>
    </header>

    <main>
        <hr/>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        <p><a class="no-underline" href="/">&copy; {{ now.Format "2006" }} {{ .Site.Params.author }}</a></p>
    </footer>
</body>
</html>
